/*variable global*/
:root{
    --primary-color: #000;
    --white: #fff;
    --light-gray-color: #eee;
    --secondary-color: crimson;
    --gap: 3rem;
}
/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-size: 1.6rem;
    scroll-behavior: smooth; /*rolagem suave*/
}
body{
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
    line-height: 1.5;
}
p{
    margin-bottom: 2rem;
}
h1, h2, h3, h4 h5, h6{
    font-family: "Montserrat", sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h5{
    font-size: 2rem;
}
h6{
    font-size: 1rem;
}
a{
    text-decoration: none;
}
.main-bg{
    background-image: url('../img/main.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}
.white-bg{
    background-color: var(--white);
    color:#000
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem var(--gap);
}
.section{
    min-height: 100vh;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a {
    color: inherit;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a {
    padding: 1rem;
    position: relative;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}
.menu-spacing{
    height: 2rem;
}
.intro-content{
display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;   
}
.intro-text-content h2{
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.intro-img img{
    max-width: 100%;
    height: auto;
}
.top3-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 64rem;
    min-height: 100vh;
    text-align: center;
}
.grid-one-content{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    max-width: 64rem;
    min-height: 100vh;
}
.grid-main-heading{
    margin-bottom: 0.1rem;
}
.grid-description{
    padding-bottom: 4rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-size: 2rem;
    position: absolute;
    font-style: italic;
    top: -1rem;
    left: 0.5rem;
    font-size: 3rem;
    transform: rotate(5deg);
}
.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.gallery-img img{
    transform: all 300ms ease-in-out;
}
.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
.responsive-table{
    overflow: hidden;
    overflow-y: auto;
}
table{
    width: 100%;
    min-width: 360px;
    border-collapse: collapse;
}
table caption{
    font-style: italic;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 1rem;
}
table td, table th{
    white-space: nowrap; /*nao quebra texto dentro da tabela*/
    padding: 0.3rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}
tfoot td, table th {
    background: var(--light-gray-color);
}
.contact-form{
    grid-column: span 2;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-flow: row;
    flex-wrap: warp;
    gap: var(--gap);
}
.form-grid legend{
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 3rem;
}
.form-group{
    flex: 1 1 320px;
}
.form-group label{
   display: block;
}
.form-group input, .form-group textarea{
    border: none;
    background: var(--white);
    padding: 0.5rem 2rem;
    width: 100%;
    font-size: 1rem;
}
.form-group input:focus, .form-group textarea:focus{
    box-shadow: 0 0 10px 5px var(--secondary-color);
}
body .full-width{
    width: 100%;
    flex: 1 1 100%;
}
.form-group button{
    border: 0.2rem solid var(--white);
    background: none;
    color: var(--white);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    border: 0.2rem solid var(--white);
    background: var(--white);
    color: var(--primary-color);
}
.form-group ::placeholder{
    color:var(--light-gray-color);
}
.footer{
    text-align: center;
}
.footer a{
    color: #444;
}

@media (max-width:800px){
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
    .gallery-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    .gallery-img img{
        width: 100%;
    }
    .grid-one-content{
        display: block ;
    }
    /*
    .menu{
        bottom: 0;
        text-align: center;
    }
    .menu-content{
        height: 100vh;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    
    */
}